<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digitelgh.apps.covid_19tracer">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TraceListActivity"
            android:label="@string/title_trace_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ContactsListActivity"
            android:label="@string/title_contacts_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AssignmentsActivity"
            android:label="@string/title_assignments_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TraceDetailActivity"
            android:label="@string/title_trace_detail"
            android:parentActivityName=".TraceListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.digitelgh.apps.covid_19tracer.TraceListActivity" />
        </activity>
        <activity
            android:name=".FollowUpActivity"
            android:label="@string/title_fill_followup_form"
            android:parentActivityName=".FollowUpActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.digitelgh.apps.covid_19tracer.TraceListActivity" />
        </activity>
        <activity
            android:name=".ContinueTraceActivity"
            android:label="@string/title_continue_trace"
            android:parentActivityName=".ContinueTraceActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.digitelgh.apps.covid_19tracer.TraceListActivity" />
        </activity>
        <activity
            android:name=".ContactFormActivity"
            android:label="@string/title_contact_form"
            android:parentActivityName=".ContactFormActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.digitelgh.apps.covid_19tracer.ContactsListActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewTrace"
            android:label="@string/title_activity_new_trace"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name=".receiver.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CONNECTIVITY_ACTION" />
                <action android:name="android.intent.action.NETWORK_STATE_CHANGED_ACTION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.NetworkSchedulerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>